.program-type {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.program-type__main-wrapper {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.program-type__wrapper-icon {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #67b737;
}

.program-type__icon-slim {
  position: absolute;
  width: 39px;
  height: 45px;
}

.program-type__title {
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
}

.program-type__icon-pro {
  position: absolute;
  width: 67px;
  height: 28px;
}

.program-type__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.program-type__link:hover span::after {
  transform: scaleX(1.2);
  margin-left: 2px;
}

.program-type__link:active {
  opacity: 0.3;
}

.program-type__link span::after {
	display: inline-block;
	content: "";
	background: url("../img/icon-right-arrow-verylong.svg") no-repeat 0 0;
	width: 24px;
	height: 11px;
}
