.first-screen__cat {
	background: url("/img/index-background-mobile@1x.jpg") no-repeat 50% 0;
	max-width: 100%;
	min-height: 305px;
}

.first-screen__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.first-screen__text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.first-screen__image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
