.first-screen__cat {
	background: url("/img/index-background-mobile@1x.jpg") no-repeat 50% 0;
	max-width: 100%;
	min-height: 305px;
}

.first-screen__image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}