.main-nav {
	position: relative;
  margin: 0 auto;
}

.main-nav__logo {
	position: relative;
}

.main-nav__logo-image {
  width: 191px;
  height: 38px;
}

.main-nav__link:hover .main-nav__logo-image {
  opacity: 0.8;
}

.main-nav__link:active .main-nav__logo-image {
  opacity: 0.3;
}

.main-nav__toggle {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 24px;
	height: 18px;
	background: #ffffff;
	border: none;
	padding: 0;
	&:hover {
		cursor:pointer;
	}
}

.main-nav--closed .main-nav__toggle::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24px;
	height: 2px;
	background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
	&::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
	display: none;
}

@media (max-width: @mobile-width-only) {
	.main-nav--closed .main-nav__status {
		display: none;
	}

	.main-nav--opened .main-nav__status {
		display: block;
	}
}