.advantages__wrapper-icon {
	width: 60px;
	height: 60px;
	background-color: #67b737;
}

.advantages__list-image-leaf,
.advantages__list-image-powder,
.advantages__list-image-dinig,
.advantages__list-image-clock {
	width: 50px;
	height: 50px;
}